@font-face {
    font-family: 'kanit';
    src: url(/font/Kanit/Kanit-Regular.ttf);
}
@font-face {
    font-family: 'anton';
    src: url(/font/Anton-Regular.ttf);
}
.text-kku{
    font-size: 8em;
    color: darkorange;
    font-weight: bold;
    font-family: 'anton',sans-serif;
}
.text-paym{
    font-size: 8em;
    margin-top: -4%;
    font-weight: bold;
    font-family: 'anton',sans-serif;
}
.text-webssite{
    font-family: 'kanit';
    margin-top: 1%;
    font-size: 1.5em;
}
#signin{
    color: white;
background-color: rgb(248, 149, 27);
    padding: 10px;
    border: none;
    border-radius: 50px;
    font-family: 'kanit',sans-serif;
    font-size: 1.5em;
}

#signin:hover{
    background-color: darkorange;
    color: white;
text-decoration: underline;
}
.imghome{
    height: 750px;
}