
@font-face {
    font-family: 'kanit';
    src: url(/font/Kanit/Kanit-Regular.ttf);
}

*{
font-family: 'kanit';
}
#btn-creat{
color: white;
background-color: rgb(248, 149, 27);
}
#btn-creat:hover{
/* background-color: white;
color: darkorange; */
background-color: darkorange;
color: white;
}
#table-color{
background-color: white;
border-radius: 10px;
}
#head-border{
border-bottom: 2px solid darkorange;
}
.bg-form{
/* background-color: darkorange; */
background-color: darkorange;
border-radius: 10px;
}
.form-center{
padding: 20px;
display: block;
justify-content: center;
}
.btn-right{
float: right;

}
#btn-color{
color: white;
background-color: #116530;
}
#btn-color:hover{
background-color: #0B4619;
color: white;
}
#btn-back:hover{
background-color: #F6D860;
}
#btn-back{
background-color: #FFEEAD;
}
.link-color{
color: white;
}
.link-color:hover{
color: darkorange;
}
.bg-color{
background-color: black;
}
